

.big-div {
  width:500px;
  height:500px;
  margin:0 auto;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-250px;
  margin-top:-250px;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page2-button {
  margin: 0;
  background-color: lightcoral;
  border-style: none;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 1000px;
  font-size: 20px;
  color: white;
}

.heading {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 100px;
  font-style: italic;
  text-align: center;
  margin: 0px;
  margin-top: 60px;
  text-shadow: 4px 4px rgb(0, 0, 0, 0.2);
}
