body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 26px;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: rgb(37, 37, 37);
}

.info-box {
  position: fixed;
  height: fit-content
  width: fit-content;
}

.row {
  display: flex;
}

  @keyframes blink {
    50% {
      opacity: 0.0;
    }
  }
  .blinking-cursor {
    animation: blink 1s step-start 0s infinite;
    color: rgb(255, 188, 62);
    font-weight: bold;
  }

  .lightblue {
    color: rgb(103, 164, 255);
  }

  .orange {
    color: rgb(255, 188, 62);
  }
